{% extends 'base.html.twig' %}

{% block content %}

    <div class="d-flex align-items-center">
        {% include '_character-card.html.twig'  with {character: attacker} %}

        <form action="/Fight/versus" method="post">
            <div class="col">
                <input type="text" name="attacker" value="{{ attacker['name'] }}">
                <input type="text" name="defender" value="{{ defender['name'] }}">
                <button type="submit" class="btn btn-primary btn-block"> FIGHT !</button>
            </div>
        </form>

        {% include '_character-card.html.twig' with {character: defender} %}
    </div>
    <p>{{ result }}</p>
{% endblock %}